

@media (min-width: 1200px) {
    body {
        background-color: #B40404;
    }
} 

@media (max-width: 1199px) {
    body {
        background-color: #FFFF00;
    }
} 

@media(max-width: 1000px) {
    body {
        background-color: #3ADF00;
    }
} 