.container{
    background-color: #81F7D8;
 
}

.row
{
    background-color: #81F7D8;
    font-family: 'Open Sans', sans-serif;
}




@media (min-width: 1200px) {
    body {
        background-color: #B40404;
    }
} 

@media (max-width: 1199px) {
    body {
        background-color: #FFFF00;
    }
} 

@media(max-width: 1000px) {
    body {
        background-color: #3ADF00;
    }
} 

[class*="col-"]
{float: left;} 
.col-1{width: 10%;}
.col-2{width: 20%;}
.col-3{width: 25%;float: left;}
.col-4{width: 40%;}
.col-5{width: 50%;}
.col-6{width: 60%;}
.col-7{width: 70%;}
.col-8 {width: 80%;}
.col-9{width: 90%;}
.col-10{width: 100%;}